#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
}

mat-grid-list {
  width: 100%;
}

.user-ids {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

mat-grid-list {
  width: 90%;
}

mat-divider {
  width: 100%;
}

#close-button {
  margin-top: auto;
  width: 51%;
  border-radius: 20px;
  background-color: #dcdcdc;
  border-width: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.join-button {
  width: 100%;
  border-radius: 20px;
  background-color: #dcdcdc;
  border-width: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 1%;
  width: 51%;
  border-radius: 20px;
  background-color: #dcdcdc;
  border-width: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}