<mat-dialog-content id="container">
    <div *ngIf="!data.isWinner && !data.isObserving">
        <p>{{"game-page-tournament.lost" | translate}}</p>
      <button mat-flat-button color="primary" (click)="leaveTournament()">
        <mat-icon>input</mat-icon>
        {{'game-page.leave' | translate}}
      </button>
      <button mat-flat-button color="primary" (click)="joinTournamentAsObserver()">
        <mat-icon>input</mat-icon>
        {{'game-page-tournament.observe' | translate}}
      </button>
    </div>
    <div *ngIf="data.isWinner && !data.isObserving">
        <p>{{"game-page-tournament.won" | translate}}</p>
        <button mat-flat-button color="primary" (click)="close()">
            <mat-icon>input</mat-icon>
            {{"game-over-tournament.bravo" | translate}}
        </button>
    </div>

    <div *ngIf="data.isObserving && isTournamentOver()">
        <p>{{"game-page-tournament.observe" | translate}}</p>
      <button mat-flat-button color="primary" (click)="leaveTournament()">
        <mat-icon>input</mat-icon>
        {{"game-page-tournament.menu" | translate}}
      </button>
      <button mat-flat-button color="primary" (click)="joinTournamentAsObserver()">
        <mat-icon>input</mat-icon>
        {{'game-over-tournament.observer' | translate}}
      </button>
    </div>
    <div *ngIf="data.isObserving && !isTournamentOver()">
        <p>{{"game-page-tournament.observe" | translate}}</p>
        <button mat-flat-button color="primary" (click)="close()">
            <mat-icon>input</mat-icon>
            {{"game-page-tournament.menu" | translate}}
        </button>
    </div>
</mat-dialog-content>