#btn-Cancel:hover {
    background-color: rgb(212, 2, 2);
}

.btn-close {
    height: 30px;
    width: 5vw;
    background-color: skyblue;
    color: white;
    border-color: rgb(12, 11, 11);
    border-radius: 20px;
}