img {
  width: 75px;
  height: 75px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5%;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(208, 144, 90);
    background: linear-gradient(
      150deg,
      rgba(208, 143, 90, 0.65) 0%,
      rgba(159, 205, 110, 0.3) 35%,
      rgb(52, 75, 138) 100%
    );
  }

.imgs {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

#error {
  margin-top: 2%;
}

mat-divider {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
}

mat-card-subtitle {
  font-size: medium;
}

.file-name {
  margin-top: 1%;
}

#upload-button {
  margin-top: 3%;
}