img {
  width: 75px;
  height: 75px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5%;
}

.imgs {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

#error {
  margin-top: 2%;
}

mat-divider {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
}

mat-card-subtitle {
  font-size: medium;
}

.file-name {
  margin-top: 1%;
}

#upload-button {
  margin-top: 3%;
}