<mat-card-subtitle>Choisir une image de profil</mat-card-subtitle>
<div class="imgs">
    <img *ngFor="let defaultAvatar of defaultAvatars; let i = index" width="10%" class="avatar" src="" (click)="selectAvatar(i)">
    
</div>
<small>Enregistrer votre propre image de profil</small>
<button id="upload-button" type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
<input hidden (change)="onFileSelected($event)" #fileInput type="file">
<span class="file-name">{{selectedFile?.name}}</span>

<mat-divider></mat-divider>
<mat-card-subtitle>Entrez vos informations</mat-card-subtitle>
<div class="form-group">
    <mat-form-field class="fields" appearance="fill">
        <mat-label for="email">Email</mat-label>
        <input matInput placeholder="Entrez votre email" name="email" type="email" [(ngModel)]= "email" required>
    </mat-form-field>
</div>
<div class="form-group">
    <mat-form-field class="fields" appearance="fill">
        <mat-label for="username">Nom d'utilisateur</mat-label>
        <input matInput placeholder="Entrez votre nom d'utilisateur" name="usename" [(ngModel)] ="username" required>
    </mat-form-field>
</div>
<div class="form-group">
    <mat-form-field class="fields" appearance="fill">
        <mat-label for="password">Mot de passe</mat-label>
        <input matInput placeholder="Entrez votre mot de passe" name="password" type="password" [(ngModel)]= "password" required>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<button mat-raised-button color="primary" id="btn-submit" (click)="onSubmit()">Créer un compte</button>

<div *ngIf="isRegisterFailed" id="error">
    <strong style="color: red;">Le nom d'utilisateur n'est pas disponible</strong>
</div>
