<mat-dialog-content id="container">
    <h1>{{"join-protected-game-component.title" | translate}} {{data.game.id}}</h1>
    <form id="form">
        <mat-form-field appearance="outline">
            <mat-label for="password">{{"join-protected-game-component.password" | translate}}</mat-label>
            <input type="password" matInput placeholder="{{'join-protected-game-component.password' | translate}}" name="password" [(ngModel)] ="password" required>
        </mat-form-field>
    </form>
    <button type="submit" (click)="joinGame()">{{"join-game-component.join" | translate}}</button>
    <strong *ngIf="errorMessage" style="color: red;">{{"join-protected-game-component.error" | translate}}</strong>
    <button (click)="close()" id="close-button">{{"join-game-component.close" | translate}}</button>
</mat-dialog-content>