<div id="main">
  <nav>
    <button
      *ngIf="!isConnected()"
      mat-raised-button
      color="primary"
      (click)="openLoginDialog()"
      id="login-button"
    >
      Se connecter
    </button>
    <button
      *ngIf="isConnected()"
      mat-raised-button
      color="warn"
      (click)="logout()"
      id="login-button"
    >
      Déconnexion
    </button>
  </nav>
  <app-chat-box-prototype *ngIf="isConnected()"></app-chat-box-prototype>
</div>
<!--
    <div class="container justified-center">
    <div id="header">
        <span class="animate scrabble" style="--n: 8">
            <span>{{ title }}</span>
        </span>
        <div id="rightdiv">
            <button *ngIf="!isConnected()" mat-raised-button class="pull-right" (click)="openLoginDialog()" id="login-button">Se connecter</button>
            <button *ngIf="isConnected()" mat-raised-button class="pull-right" (click)="logout()" id="login-button">Déconnexion</button>
        </div>
    </div>

    <section id="server-message">
        <div class="justifiediv">
            <app-welcome-button
                imageSrc="assets/image/scrabble.png"
                letterSrc="assets/image/classique.png"
                message="Jouer Scrabble version Classique"
                (click)="openParameterDialog('Classic')"
            ></app-welcome-button>
            <app-welcome-button
                imageSrc="assets/image/scrabble.png"
                letterSrc="assets/image/polymtl.png"
                message="Jouer Scrabble version Log2990"
                (click)="openParameterDialog('Log2990')"
            ></app-welcome-button>
            <app-welcome-button
                version="High Score"
                imageSrc="assets/image/throphie.jpg"
                letterSrc="assets/image/high-score.png"
                message="Voir les meilleurs Scores"
                (click)="openScoreDialog()"
            ></app-welcome-button>
        </div>
    </section>
    <div>
        <img src="assets/image/team.png" class="team-img" (click)="openAboutUsDialog()" />
        <h2>Notre équipe</h2>
    </div>
</div>
-->
