<div id="container">
    <h1>Choisissez un avatar qui vous correspond</h1>
    <p>Les photos rendent votre profil plus attrayant</p>
    <img id="preview" *ngIf="imagePreview.value !== ''" class="file-name" src="{{imagePreview.value}}">
    <button mat-flat-button color="accent" (click)="openDialog()"> Choisir un avatar</button>
    <p>Ou</p>
    <button mat-flat-button color="accent" (click)="fileInput.click()"> Choisir votre propre avatar</button>
    <input hidden (change)="onFileSelected($event)" #fileInput type="file">
    <p>Ou</p>
    <button mat-flat-button color="accent"> Personnaliser votre avatar</button>

    <strong *ngIf="errorImage" style="color: red; margin-top: 2%;">Veuillez choisir un avatar</strong>
    <button mat-flat-button color="accent" id="button-next" (click)="submit()"> Continuer vers le menu principal</button>
</div>

    