<div id="container">
  <img id="scrabble-img" src="../../../assets/scrabble.png">
  <h3>{{'waiting-room-page.text' | translate}}</h3>
  <div>
    <h4>{{getNumUsers()}}{{'waiting-room-page.players' | translate}}</h4>
  </div>
  <div class="players" *ngIf="gameRoom.value && gameRoom.value.isPrivateGame && user.id === gameRoom.value.creatorId">
    <h3>{{"waiting-room-page.request-join" | translate}}</h3>
    <div *ngFor="let userWaiting of usersWaiting" class="player">
      <img src="{{getAvatarUrl(userWaiting.userId)}}" class="avatar">
      <h3>{{userWaiting.username}}</h3>
      <button mat-fab class="accept-button" (click)="acceptPlayer(userWaiting.userId)">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-fab class="deny-button" (click)="denyPlayer(userWaiting.userId)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="getNumUsers() >= 2 && checkIfCreator()">
    <button mat-flat-button color="accent" (click)="startGame()" routerLink="/game">{{'waiting-room-page.start-game' | translate}}</button>
  </div>
  <mat-expansion-panel id="friend-list" (opened)="onOpenPanel()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Friends
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="friend" *ngFor="let friend of getFriends()">
      <img class="avatar" [src]="getAvatarUrl(friend.id)">
      {{friend.username}}
      <button mat-mini-fab class="send-request" (click)="inviteFriend(friend.id)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  <app-chat-box *ngIf="isLoggedIn()"></app-chat-box>
</div>