<div id="container">
  <img id="scrabble-img" src="../../../assets/scrabble.png">
  <h3>En attente d'autre joueurs... Veuillez patienter</h3>
  <mat-spinner color="primary"></mat-spinner>
  <h3>{{'waiting-room-page.text' | translate}}</h3>
  <mat-spinner color="accent"></mat-spinner>
  <div>
    <h4>{{getNumUsers()}}{{'waiting-room-page.players' | translate}}</h4>
  </div>
  <div *ngIf="getNumUsers() >= 2 && checkIfCreator()">
    <button mat-flat-button color="accent" (click)="startGame()" routerLink="/game">{{'waiting-room-page.start-game' | translate}}</button>
  </div>
</div>