mat-card{
    width: 100%;
    height: 100%;
    position: relative;
}

mat-card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

app-tile {
    width: 8%;
}

/*app-tile:after {
    content: "";
    display: block;
    padding-bottom: 14%;
}*/