<div class="container">
    <h2>Sélection de l'avatar</h2>
    <div class="flexy">
        <div *ngFor="let avatar of defaultAvatars; let i = index" class="card" (click)="select(i)">
            <img class="avatar" src="{{defaultAvatars[i].url}}">
        </div>
    </div>
    
    <strong *ngIf="error" style="color: red; width: 100%; text-align: center;">Veuillez sélectionner un avatar ou appuyer sur Annuler</strong>
    <button color="primary" (click)="save()">Confirmer</button>
    <button color="primary" (click)="close()">Annuler</button>
</div>