<div class="container">
    <h2>Sélection de l'avatar</h2>
    <div class="row">
        <div class="column">
            <img class="avatar" src="{{defaultAvatars[0].url}}">
            <img class="avatar" src="{{defaultAvatars[1].url}}">
        </div>
        <div class="column">
            <img class="avatar" src="{{defaultAvatars[2].url}}">
            <img class="avatar" src="{{defaultAvatars[3].url}}">
        </div>
        <div class="column">
            <div class="card">
                <img class="avatar" src="{{defaultAvatars[4].url}}">
            </div>
            <img class="avatar" src="{{defaultAvatars[5].url}}">
            
        </div>
    </div>

    <button mat-flat-button color="primary">Confirmer</button>
</div>