#chatBox {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

#chatBoxBody {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.spacer {
  flex-grow: 1;
}

#chatBoxMessages {
  overflow-y: auto;
  position: absolute;
  inset: 0;
}

.message {
  word-wrap: break-word;
  margin: 1rem auto;
  font-size: 80px;
  max-width: 80%;
  width: max-content;
  line-height: normal;
}

form {
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
}

form > mat-form-field {
  margin-right: 0.5rem;
  width: 100%;
}

form > button {
  margin-bottom: 1rem;
}

// form {
//     padding: 0 0.75rem;
//     display: flex;
//     align-items: center;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 100%;
//     width: 90%;
// }

// form > mat-form-field {
//     margin-right: 0.5rem;
//     width: 95%;
// }

// form > button {
//     margin-bottom: 1rem;
// }
