<div id="container">
    <h1>Liste des parties</h1>
    <mat-divider></mat-divider>
    <mat-grid-list cols="4" rowHeight="50px">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>Nom de la partie</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>Joueurs</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <h4>Publique</h4>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1"></mat-grid-tile>
        <mat-grid-tile [colspan]="4">
            <mat-divider></mat-divider>
        </mat-grid-tile>
        <div *ngFor="let game of games; let i = index">
            <mat-grid-tile [colspan]="1" [rowspan]="1">{{game.id}}</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="user-ids">
                <div *ngFor="let playerId of getUserNames(game.userIds); let last = last;">
                    <div *ngIf="!last">{{playerId}}{{", "}}</div>
                    <div *ngIf="last">{{playerId}}</div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-icon *ngIf="!game.isProtected">check</mat-icon>
                <mat-icon *ngIf="game.isProtected">clear</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button (click)="joinGame(game)">
                    <mat-icon>play_arrow</mat-icon>
                    Rejoindre la partie
                </button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4">
                <mat-divider></mat-divider>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    <button (click)="close()" id="close-button">Fermer</button>
</div>