.nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #2e2e48;
  color: #fff;
  display: flex;
  //padding: 0 16px;
  align-items: center;
  height: 120px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  justify-content: space-evenly;
}

.nav-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 12px;
}

.nav-text:hover {
  cursor: pointer;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.context {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
  margin-top: 2%;
}

.grid {
  width: 100%;
  height: 100%;
}

.history {
  width: 100%;
  height: 100%;
}

mat-divider {
  width: 100%;
}



.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 2% 0;
}

.profile-info {
  text-align: center;
  margin-top: 2%;
}

.username {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.email {
  font-size: 2vh;
  font-weight: lighter;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 1vh;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #888888;
  width: 35vw;
  margin-bottom: 1vh;
  color: black;
}

.stat mat-icon {
  font-size: 3vh;
  padding: 1vh;
  color: #888888;
}

.edit-profile {
  margin-top: 4%;
}

.edit-profile button {
  background-color: #2e2e48;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 2% 4%;
  font-size: 2.5vh;
}