<div class="content">
  <div class="nav">
    <div class="nav-text" (click)="selectNavButton(0)" style="background-color: #424260; outline-color: #66678e; outline-width: 1px; outline-style: solid;">
      Modifier mon profil
    </div>
    <div class="nav-text" (click)="selectNavButton(1)">
      Statistiques
    </div>
    <div class="nav-text" (click)="selectNavButton(2)">
      Historique
    </div>
  </div>

  <div class="context">
    <div *ngIf="screen === 'Modifier mon profil'">
      <h2>Modifier votre avatar</h2>
      <div>
        <img id="avatar" width="50%" src="{{user.value.avatar.url}}">
        <button id="upload-button" type="button" mat-raised-button (click)="fileInput.click()">Choisir une image</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file">
            <span class="file-name">{{selectedFile.name}}</span>
            <button mat-raised-button type="submit">Enregistrer</button>
      </div>
      <h2>Modifier vos informations personnelles</h2>
      <div>
        <div>
          <h4>Modifier votre pseudonyme</h4>
          <div class="">Pseudonyme : {{user.value.username}}</div>
          <div class="form">
            <mat-form-field appearance="fill">
              <mat-label>Pseudonyme</mat-label>
              <input matInput placeholder="Entrez votre nouveau pseudonyme" name="usename" [(ngModel)] ="username">
            </mat-form-field>
            <button mat-raised-button type="submit">Enregistrer</button>
          </div>
        </div>

        <div>
          <h4>Modifier votre adresse courriel</h4>
          <div class="">Adresse courriel : {{user.value.email}}</div>
          <div class="form">
            <mat-form-field appearance="fill">
              <mat-label class="labels">Adresse courriel</mat-label>
              <input matInput type="email" class="form-control" value="" placeholder="Entrez votre nouvelle adresse courriel">
            </mat-form-field>
            <button mat-raised-button type="submit">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="screen === 'Statistiques'">
      <div>Nombre de parties jouées: {{user.value.summary.userStats.nbGamesPlayed}}</div>
          <div>Nombre de parties gagnées: {{user.value.summary.userStats.nbGamesWon}}</div>
          <div>Moyenne de points par partie: {{user.value.summary.userStats.averagePointsPerGame}}</div>
          <div>Moyenne de temps joué: {{user.value.summary.userStats.averageTimePlayed}}</div>
    </div>

    <div *ngIf="screen === 'Historique'">
      <div *ngFor="let networkLog of user.value.summary.networkLogs">{{networkLog.eventType}}: {{getDate(networkLog.eventTime)}}</div>
          <mat-divider></mat-divider>
          <div *ngFor="let gameStat of user.value.summary.gamesStats">{{gameStat.gameWon}}: {{gameStat.eventDate}}</div>
    </div>
  </div>
</div>


  <!--
    <button mat-fab color="accent" class="home-button" routerLink="/home" routerLinkActive="router-link-active">
    <mat-icon>home</mat-icon>
  </button>
  <div class="row">
    <div class="column">
      <mat-card class="card">
        <mat-card-header class="">
          <mat-card-title>
            Modifier le profil
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <img id="avatar" width="50%" src="{{user.value.avatar.url}}">
          <div class="">{{user.value.username}}</div>
          <div class="form">
            <mat-form-field appearance="fill">
              <mat-label>Nom d'utilisateur</mat-label>
              <input matInput placeholder="Entrez votre nom d'utilisateur" name="usename" [(ngModel)] ="username">
            </mat-form-field>
          </div>
          
          <div style="margin-top: 1%;">{{user.value.email}}</div>
          <div class="form">
            <mat-form-field appearance="fill">
              <mat-label class="labels">Email </mat-label>
              <input matInput type="email" class="form-control" value="" placeholder="Email">
            </mat-form-field>
          </div>

          <div class="form">
            <button id="upload-button" type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden (change)="onFileSelected($event)" #fileInput type="file">
            <span class="file-name">{{selectedFile.name}}</span>
          </div>
          <button mat-raised-button color="accent" type="button" (click)="submit()">Enregistrer</button>
          
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="column">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            Statistiques
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div *ngFor="let networkLog of user.value.summary.networkLogs">{{networkLog.eventType}}: {{getDate(networkLog.evenTime)}}</div>
          <mat-divider></mat-divider>
          <div *ngFor="let gameStat of user.value.summary.gamesStats">{{gameStat.gameWon}}: {{gameStat.eventDate}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="column">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            Activité de l'utilisateur
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div>Nombre de parties jouées: {{user.value.summary.userStats.nbGamesPlayed}}</div>
          <div>Nombre de parties gagnées: {{user.value.summary.userStats.nbGamesWon}}</div>
          <div>Moyenne de points par partie: {{user.value.summary.userStats.averagePointsPerGame}}</div>
          <div>Moyenne de temps joué: {{user.value.summary.userStats.averageTimePlayed}}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


  -->
  