<div class="content">
  <div class="nav">
    <div class="nav-text" (click)="selectNavButton(0)"
      style="background-color: #424260; outline-color: #66678e; outline-width: 1px; outline-style: solid;">
      <mat-icon>person</mat-icon>
      {{'profile-page.modify-profile' | translate}}
    </div>
    <div class="nav-text" (click)="selectNavButton(1)">
      <mat-icon>list_alt</mat-icon>
      {{'profile-page.history' | translate}}
    </div>
    <div class="nav-text" (click)="selectNavButton(2)">
      <mat-icon>access_time</mat-icon>
      {{'profile-page.activity' | translate}}
    </div>
  </div>

  <div class="context">
    <div *ngIf="screen === 'Modifier mon profil'" class="profile-container">
      <div class="profile-header">
        <img class="avatar" src="{{user.value.avatar.url}}">
        <div class="profile-info">
          <p class="username">{{user.value.username}}</p>
          <p class="email">{{user.value.email}}</p>
        </div>
      </div>
    
      <div class="stats-container">
        <div class="stat">
          <mat-icon>format_list_numbered</mat-icon>
          <span>{{'profile-page.games-played' | translate}}</span>
          <span>{{ user.value.summary.userStats.nbGamesPlayed ? user.value.summary.userStats.nbGamesPlayed : '--' }}</span>
        </div>
    
        <div class="stat">
          <mat-icon>check_circle</mat-icon>
          <span>{{'profile-page.games-won' | translate}}</span>
          <span>{{user.value.summary.userStats.nbGamesWon ? user.value.summary.userStats.nbGamesWon : '--'}}</span>
        </div>
    
        <div class="stat">
          <mat-icon>scoreboard</mat-icon>
          <span>{{'profile-page.average-points' | translate}}</span>
          <span>{{user.value.summary.userStats.averagePointsPerGame ? user.value.summary.userStats.averagePointsPerGame : '--'}}</span>
        </div>
    
        <div class="stat">
          <mat-icon>timelapse</mat-icon>
          <span>{{'profile-page.average-time' | translate}} </span>
          <span>{{(user.value.summary.userStats.averageTimePlayed / 1000) ? (user.value.summary.userStats.averageTimePlayed / 1000) : 0}}{{'profile-page.minutes' | translate}}</span>
        </div>
      </div>
    
      <div class="edit-profile">
        <button (click)="modifyProfile()">
          <mat-icon>camera_front</mat-icon>
          <span>{{'Modifier mon profil' | translate}}</span>
        </button>
      </div>
    </div>
    

    <div *ngIf="screen === 'Historique'" class="history">
      <mat-grid-list cols="3" rowHeight="20px" class="grid">
        <mat-grid-tile>
          <h3>{{"profile-page.type-event" | translate}}</h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <h3>{{"profile-page.startDate" | translate}}</h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <h3>{{"profile-page.endDate" | translate}}</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3"><mat-divider></mat-divider></mat-grid-tile>
        <div *ngFor="let game of user.value.summary.gamesStats; let last = last">
          <mat-grid-tile>{{getWonOrLost(game.gameWon)}}</mat-grid-tile>
          <mat-grid-tile>{{getDate(game.gameStartTime) + " "}} {{getTime(game.gameStartTime)}}</mat-grid-tile>
          <mat-grid-tile>{{getDate(game.gameEndTime) + " "}} {{getTime(game.gameEndTime)}}</mat-grid-tile>
          <mat-grid-tile *ngIf="!last" [colspan]="3"><mat-divider></mat-divider></mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>

    <div *ngIf="screen === 'Activité'" class="history">
      <mat-grid-list cols="3" rowHeight="20px">
        <mat-grid-tile>
          <h3>{{"profile-page.type-event" | translate}}</h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <h3>{{"profile-page.date" | translate}}</h3>
        </mat-grid-tile>
        <mat-grid-tile>
          <h3>{{"profile-page.hour" | translate}}</h3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3"><mat-divider></mat-divider></mat-grid-tile>
        <div *ngFor="let activity of user.value.summary.networkLogs; let last = last">
          <mat-grid-tile>{{activity.eventType}}</mat-grid-tile>
          <mat-grid-tile>{{getDate(activity.eventTime)}}</mat-grid-tile>
          <mat-grid-tile>{{getTime(activity.eventTime)}}</mat-grid-tile>
          <mat-grid-tile *ngIf="!last" [colspan]="3"><mat-divider></mat-divider></mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
  </div>
  <app-chat-box-button *ngIf="isLoggedIn()"></app-chat-box-button>
</div>