<div>
    <h4>{{'profile-page.modify-username' | translate}}</h4>
    <!-- <div class="">{{'profile-page.username' | translate}}{{user.value.username}}</div> -->
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>{{'login-component.username' | translate}}</mat-label>
        <!-- <input matInput placeholder="{{'login-component.username' | translate}}" name="usename" [(ngModel)] ="username"> -->
      </mat-form-field>
      <button mat-raised-button type="submit">{{'profile-page.submit' | translate}}</button>
    </div>
  </div>