.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

img {
  width: 90%;
}

mat-stepper {
  height: 100%;
  width: 100%;
}

::ng-deep .mat-horizontal-stepper-content  {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

::ng-deep .mat-horizontal-stepper-wrapper {
  height: 100%;
}

::ng-deep .mat-horizontal-content-container {
  height: 100%;
}

::ng-deep .mat-horizontal-stepper-content-inactive {
  height: 0 !important;
}

.step-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.left {
  margin-right: 25px;
}