<div class="container">
  <mat-stepper>
    <mat-step *ngFor="let item of titles; let i = index; let first = first; let last = last">
      <ng-template matStepLabel>{{"rules-slider-page." + item | translate}}</ng-template>
      <img *ngIf="isFrench()" [src]="frenchImages[i]">
      <img *ngIf="!isFrench()" [src]="englishImages[i]">
      <div class="step-buttons">
        <button *ngIf="!first" mat-raised-button color="primary" matStepperPrevious class="left">{{"customize-avatar-component.back" | translate}}</button>
        <button *ngIf="!last" mat-raised-button color="primary" matStepperNext>{{"customize-avatar-component.next" | translate}}</button>
        <button *ngIf="last" mat-raised-button color="primary" matStepperNext routerLink="/home">{{"rules-slider-page.finish" | translate}}</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
