<div class="container">
    <h1>Create a Group Chat</h1>
    <form>
        <div class="form-group">
            <label for="chatroomName">Group Chat Name</label>
            <input type="text" id="chatroomName" name="chatroomName" [(ngModel)]="chatroomName"
                placeholder="Enter the group chat name" required>
        </div>
        <div class="form-group">
            <label for="friendName">Add Friend</label>
            <input type="text" id="friendName" name="friendName" [(ngModel)]="friendName"
                placeholder="Enter friend's username" required>
            <button type="button" (click)="getFriends()">Add to Group</button>
        </div>
        <div class="added-friends">
            <h2>Added Friends:</h2>
            <div *ngFor="let friend of getAllFriendGroupInfo(); let i = index" class="friends">
                <div class="friend">
                    <div class="avatar">
                      <img class="avatar-img" src="{{friend.avatar.url}}" alt="avatar">
                      <span *ngIf="this.userOnline(friend.username)" class='avatar-status-online'></span>
                      <span *ngIf="!this.userOnline(friend.username)" class='avatar-status-offline'></span>
                    </div>
                    <span class="text">{{friend.username}}</span>
                </div>
                <button type="button" (click)="removeFriend(i)">Remove</button>
            </div>
            <button class="create-groupchat" type="submit" (click)="submit()">Create Group Chat</button>
        </div>
    </form>
</div>
