::ng-deep #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 99%;
}

mat-grid-list {
  width: 100%;
}

.user-ids {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

mat-grid-list {
  width: 90%;
}

mat-divider {
  width: 100%;
}

#close-button {
  position: sticky;
}