<mat-dialog-content id="container">
    <h1>Type de la partie</h1>
    <mat-button-toggle-group [(ngModel)]="gameType">
        <mat-button-toggle *ngFor="let type of gameTypes" [value]="type">{{type}}</mat-button-toggle>
    </mat-button-toggle-group>
    <form class="password"  *ngIf="gameType === 'Protected'">
        <mat-label>Ajouter un mot de passe</mat-label>
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label for="password">Entrez le mot de passe de la partie</mat-label>
                <input type="password" matInput placeholder="Entrez le mot de passe de la partie" name="password" [(ngModel)] ="password" required>
            </mat-form-field>
        </div>
    </form>
    <button (click)="createGame()">Créer la partie</button>
    <button (click)="close()" id="close-button">Fermer</button>
</mat-dialog-content>