#scrabble-img {
  width: 70%;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
}

button {
  margin-top: 2%;
  width: 39%;
  border-radius: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.bottom {
  height: 75%;
  width: 20%;
}