<div class="container">
    <h1>{{'explore-component.join-public-chanel'| translate}}</h1>
    <div class="form">
        <form>
            <mat-form-field appearance="outline">
                <mat-icon matSuffix>search</mat-icon>
                <mat-label for="username">{{'explore-component.search-canal' | translate}}</mat-label>
                <input #usernameInput matInput placeholder="{{'explore-component.search-canal' | translate}}"
                    (input)="searchInput = usernameInput.value">
            </mat-form-field>
        </form>
        <div class="chatroom-list">
            <div *ngFor="let chatroom of filterPublicRooms(); let i = index" class="friend">
                <div class="friend-info">
                    <p>{{chatroom.name}}</p>
                    <div>
                        <button *ngIf="!isJoined(i)" type="button" class="button-join" (click)="this.joinRoom(chatroom)">
                            <mat-icon>add</mat-icon> {{'explore-component.join' | translate}} 
                        </button>
                        <button *ngIf="isJoined(i)" type="button" class="button-leave" (click)="this.leaveRoom(chatroom)">
                            <mat-icon>minimize</mat-icon> {{'explore-component.leave' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>