<mat-dialog-content id="container">
    <div *ngIf="!data.isObserving">
        <p *ngIf="data.isWinner">{{"game-page-tournament.won" | translate}}</p>
        <p *ngIf="!data.isWinner">{{"game-page-tournament.lost" | translate}}</p>
        <button mat-flat-button color="primary" (click)="close()">
            <mat-icon>input</mat-icon>
            {{"game-page-tournament.menu" | translate}}
        </button>
    </div>
        

        <div *ngIf="data.isObserving">
            <p>{{"game-page-tournament.observe" | translate}}</p>
            <button mat-flat-button color="primary" (click)="close()">
                <mat-icon>input</mat-icon>
                {{"game-page-tournament.menu" | translate}}
            </button>
        </div>
</mat-dialog-content>