<div class="container">
  <div class="left">
    <button mat-flat-button color="primary" (click)="leaveGame()">
      <mat-icon>input</mat-icon>
      {{'game-page.leave' | translate}}
    </button>

    <div *ngFor="let player of game.value?.players" class="player" [class.isTurn]="game.value?.turn === player.id">
      <div class="playerInfo">
        <img *ngIf="!player.isBot" src="{{getPlayerAvatar(player.id)}}">
        <h3>{{player.username}}</h3>
      </div>
      <p>Score : {{player.score}}</p>
    </div>

    <button mat-raised-button color="primary" (click)="submit()" id="play-button" [disabled]="!hasPlacedLetters() || !isTurn()">
      <mat-icon>done</mat-icon>
      {{'game-page.submit' | translate}}
    </button>

    <button mat-raised-button color="primary" (click)="exchange()" id="exchange-button" [disabled]="!hasSelectedLetters() || !isTurn()">
      <mat-icon>swap_horiz</mat-icon>
      {{'game-page.exchange' | translate}}
    </button>
  </div>
  <div class="middle">
    <div class="board">
      <app-board></app-board>
    </div>

    <app-rack class="rack"></app-rack>
  </div>
  <div class="right">
    <div class="config">
      <div class="language" (click)="switchLanguage()">
        <div class="language-icon">
            <mat-icon inline="true">language</mat-icon>
        </div>
        <div>{{language.value}}</div>
      </div>
      <div>
        <mat-icon (click)="doToggleLightDark()">{{lightDarkToggleIcon}}</mat-icon>
      </div>
    </div>
    <app-timer id="timer"></app-timer>

    <div id="reserve">
      <h3>{{'game-page.reserve' | translate}}</h3>
      <h3>80</h3>
    </div>

    <button mat-raised-button color="primary" (click)="indice()" id="indice-button" [disabled]="!isTurn()">
      <mat-icon>lightbulb</mat-icon>
      {{"game-page.advice" | translate}}
    </button>

    <button mat-raised-button color="primary" (click)="pass()" id="pass-button" [disabled]="!isTurn()">
      <mat-icon>fast_forward</mat-icon>
      {{"game-page.skip" | translate}}
    </button>

    <app-chat-box id="chat-box"></app-chat-box>
  </div>
    <!--
      <mat-card id="indice" *ngIf="moves.value.length > 0">
      <mat-card-content>
        <p *ngFor="let move of getIndice()">{{move}}</p>
      </mat-card-content>
    </mat-card>
    -->
</div>