<div class="container">
    <button mat-fab color="primary" class="home-button" routerLink="/home" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
      </button>
    <app-board></app-board>
    <app-rack></app-rack>
    <app-timer></app-timer>
    <button
      *ngIf="isTurn()"
      mat-raised-button
      color="warn"
      (click)="submit()"
      id="play-button"
      [disabled]="!hasPlacedLetters()"
    >
      Envoyer
    </button>

    <button
      *ngIf="isTurn()"
      mat-raised-button
      color="warn"
      (click)="pass()"
      id="pass-button"
    >
      Passer
    </button>

    <button
      *ngIf="isTurn()"
      mat-raised-button
      color="warn"
      (click)="exchange()"
      id="exchange-button"
      [disabled]="!hasSelectedLetters()"
    >
      Échanger
    </button>
</div>