<div id="container">
    <div class="nav">
        <div class="nav-text" (click)="selectNavButton(0)">
            {{'social-component.online' | translate}}
        </div>
        <div class="nav-text" (click)="selectNavButton(1)">
            {{'social-component.all' | translate}}
        </div>
        <div class="nav-text" (click)="selectNavButton(2)">
            {{'social-component.waiting' | translate}}
        </div>
        <div class="nav-text" (click)="selectNavButton(3)">
            {{'social-component.add' | translate}}
        </div>
    </div>
    <div class="content">

        <div *ngIf="getScreen() === 'En ligne'" class="screen">
            <div class="form">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label for="username">{{'social-component.search-friend' | translate}}</mat-label>
                      <input #usernameInput matInput placeholder="{{'social-component.search-friend' | translate}}" name="username" [(ngModel)]="onlineFriendUserNameSearch" (input)="onSearchChange(usernameInput.value)">
                    </mat-form-field>
                </form>
            </div>
            <div class="users">
                <div *ngFor="let user of this.socialService.onlineFriends$.value" class="user">
                    <img src="{{user.avatar.url}}" class="avatar">
                    <h3>{{user.username}}</h3>
                </div>
            </div>
        </div>

        <div *ngIf="getScreen() === 'Tous'" class="screen">
            <div class="form">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label for="username">{{'social-component.search-friend' | translate}}</mat-label>
                      <input #usernameInput matInput placeholder="{{'social-component.search-friend' | translate}}" name="username" [(ngModel)]="allFriendUserNameSearch">
                    </mat-form-field>
                </form>
            </div>
            <div class="users">
                <div *ngFor="let user of listFriendsDisplay" class="user">
                    <img src="{{user.avatar.url}}" class="avatar">
                    <h3>{{user.username}}</h3>
                </div>
            </div>
        </div>

        <div *ngIf="getScreen() === 'Ajouter un ami'" class="add-friend">
            <div class="form">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label for="username">{{'social-component.search-user' | translate}}</mat-label>
                      <input #usernameInput matInput placeholder="{{'social-component.search-user' | translate}}" name="username" [(ngModel)]="addFriendUserName" type="text" (input)="onSearchChange(usernameInput.value)">
                    </mat-form-field>
                </form>
            </div>
            <div class="users">
                <div *ngFor="let user of listUserDisplay" class="user">
                    <img src="{{user.avatar.url}}" class="avatar">
                    <h3>{{user.username}}</h3>
                    <button mat-fab class="send-request" (click)="sendFriendRequest(user.id)">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="getScreen() === 'En attente'" class="screen">
            <div class="users">
                <div *ngFor="let user of user.value.pendingRequests" class="user">
                    <img src="{{getUserAvatarUrl(user)}}" class="avatar">
                    <h3>{{getUserUsername(user)}}</h3>
                    <button mat-fab class="accept-button" (click)="acceptFriendRequest(user)">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-fab class="deny-button" (click)="denyFriendRequest(user)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>