#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 100%;
}

.nav {
    position: sticky;
    width: 100%;
    justify-content: space-evenly;
    border-top: 1px solid #999999;
    color: #fff;
    display: flex;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.nav-text {
    padding-top: 1hv;
    display: grid;
    flex-direction: column;
    height: fit-content;
    width: 5vw;
    align-items: center;
}
 
.nav-text.active span {
    font-size: 12px;
    color: orange;
    margin-bottom: -1hv;
}
  
.nav-text:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
  
mat-form-field {
    margin-top: 5%;
    width: 100%;
}

.screen {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    height: 100%;
}

.form {
    width: 75%;
}

.users {
    width: 75%;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #dcdcdc;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #999999;
    border-radius: 12px;
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
    color: black;
    //height: 100%;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    margin-right: 5%;
}

.add-friend {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    height: 100%;
}

.accept-button {
    margin-left: auto;
    margin-right: 2%;
}

.accept-button:hover {
    color: green;
}

.deny-button:hover {
    color: red;
}

.send-request {
    margin-left: auto;
}

.icon{
    font-size: larger;
    color: rgb(139, 226, 9);
    border-radius:100%;
    
}
  
.mat-badge-glow {
    animation: badge-glow 1.5s ease-in-out infinite;
  }
  
  @keyframes badge-glow {
    0% {
      box-shadow: 0 0 0 0 rgba(41, 219, 17, 0.7);
    }
    50% {
      box-shadow: 0 0 0 10px rgba(237, 231, 61, 0.336);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }
  