<div id="container">
    <div class="nav">
        <div class="nav-text" style="background-color: #424260; outline-color: #66678e; outline-width: 1px; outline-style: solid;" (click)="selectNavButton(0)">
            En ligne
        </div>
        <div class="nav-text" (click)="selectNavButton(1)">
            Tous
        </div>
        <div class="nav-text" (click)="selectNavButton(2)">
            En attente
        </div>
        <div class="nav-text" (click)="selectNavButton(3)">
            Ajouter un ami
        </div>
    </div>
    <div class="content">

        <div *ngIf="activeScreen === 'En ligne'"class="screen">
            <div class="form">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label for="username">Rechercher un ami</mat-label>
                      <input #usernameInput matInput placeholder="Rechercher un ami" name="username" [(ngModel)]="onlineFriendUserNameSearch">
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div *ngIf="activeScreen === 'Ajouter un ami'" class="add-friend">
            <div class="form">
                <form>
                    <mat-form-field appearance="fill">
                      <mat-label for="username">Rechercher un ami</mat-label>
                      <input #usernameInput matInput placeholder="Rechercher un ami" name="username" [(ngModel)]="addFriendUserName" type="text" (input)="onSearchChange(usernameInput.value)">
                    </mat-form-field>
                </form>
            </div>
            <div class="users">
                <div *ngFor="let user of listUserDisplay" class="user">
                    <img src="{{user.avatar.url}}" class="avatar">
                    <h3>{{user.username}}</h3>
                    <button mat-fab class="send-request" (click)="sendFriendRequest(user.id)">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div *ngIf="activeScreen === 'En attente'" class="screen">
            <div class="users">
                <div *ngFor="let user of user.value.pendingRequests" class="user">
                    <img src="{{getUserAvatarUrl(user)}}" class="avatar">
                    <h3>{{getUserUsername(user)}}</h3>
                    <button mat-fab class="accept-button" (click)="acceptFriendRequest(user)">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button mat-fab class="deny-button" (click)="denyFriendRequest(user)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>