<div class="container">
  <img id="scrabble-img" src="../../../assets/scrabble.png">
  <h3>{{"find-game-page.option" | translate}}</h3>
  <button mat-flat-button color="primary" class="game-button" (click)="openDialogCreateTournament()">
    <mat-icon>videogame_asset</mat-icon>
    {{"find-game-page.createTournament" | translate}}
  </button>
  <button mat-flat-button color="primary" class="game-button" (click)="openDialogJoinTournament()">
    <mat-icon>videogame_asset</mat-icon>
    {{"find-tournament-page.join" | translate}}
  </button>
  <button mat-flat-button color="primary" class="game-button" (click)="openDialogJoinTournamentAsObserver()">
    <mat-icon>remove_red_eye</mat-icon>
    {{"find-tournament-page.observe" | translate}}
  </button>
  <app-chat-box-button></app-chat-box-button>
</div>