<mat-drawer-container>

  <mat-drawer opened="true" disableClose="true" mode="side" class="mat_drawer" position="end">
    <div class="box">
      <div id="title" (click)="this.chatFriend = false">
        <div class="mat-icon-button">
          <mat-icon inline="true">people</mat-icon>
        </div>
        <div class="text">{{'social-page.friends' | translate}}</div>
      </div>
      <div id="break">
        <hr>
      </div>

      <div *ngFor="let friend of this.socialService.onlineFriends$.value; let i = index" class="friends" (click)="chatFriendPage(i)">
        <div class="friend">
          <div class="avatar">
            <img class="avatar-img" src="{{friend.avatar.url}}" alt="avatar">
            <span class='avatar-status'></span>
          </div>
          <span class="text">{{getUsernameFriend(i)}}</span>
        </div>
      </div>
      
    </div>
  </mat-drawer>

  <mat-drawer-content >
    <app-social *ngIf="!chatFriend"></app-social>
    <div class="content" *ngIf="chatFriend">
      <app-chat-box class="chat"></app-chat-box>
    </div>

  </mat-drawer-content>
</mat-drawer-container>