<mat-drawer-container *ngIf="!isInGame()">
    <mat-drawer opened="true" disableClose="true" mode="side">
        <div class="box">
            <mat-icon *ngIf="user.value.id === '0'">account_circle</mat-icon>
            <img *ngIf="user.value.id !== '0'" src="{{user.value.avatar.url}}" class="avatar">
            <div id="break">
                <hr>
            </div>
     
            <div class="nav">
                <div class="nav-button" (click)="selectNav(0)" routerLink="/home">
                    <div class="nav-button-div">
                        <div class="mat-icon-button">
                            <mat-icon inline="true" >home</mat-icon>
                        </div>
                        <div class="text">{{currentRoute}}</div>
                    </div> 
                </div>

                <div class="nav-button" (click)="selectNav(1)" routerLink="/profile" *ngIf="user.value.id !== '0'">
                    <div class="nav-button-div">
                        <div class="mat-icon-button">
                            <mat-icon inline="true" >person</mat-icon>
                        </div>
                        <div class="text">Profil</div>
                    </div> 
                </div>

                <div class="nav-button" (click)="selectNav(2)" routerLink="/social" *ngIf="user.value.id !== '0'">
                    <div class="nav-button-div">
                        <div class="mat-icon-button">
                            <mat-icon inline="true" >people</mat-icon>
                        </div>
                        <div class="text">Social</div>
                    </div> 
                </div>
            </div>

            <div id="theme" class="nav">
                <div id="break">
                    <hr>
                </div>
                
                <mat-icon (click)="doToggleLightDark()">{{lightDarkToggleIcon}}</mat-icon>
                <mat-icon *ngIf="currentRoute !== 'PolyScrabble'" (click)="return()">arrow_back</mat-icon>
                <mat-icon *ngIf="isConnected()" (click)="logout()">logout</mat-icon>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<div *ngIf="isInGame()">
    <router-outlet></router-outlet>
</div>