<mat-drawer-container>
    <mat-drawer opened="true" disableClose="true" mode="side">
        <div id="box">
            <mat-icon class="navs">account_circle</mat-icon>
            <div id="break">
                <hr>
            </div>
     
            <div>
                <a *ngIf="isInGame() && isConnected()" routerLink="/game" routerLinkActive="router-link-active" id="rules-button">
                    Game
                  </a>
                  <a *ngIf="isConnected()" routerLink="/rules-slider" routerLinkActive="router-link-active" id="rules-button">
                    <div> Help! </div>
                  </a>
                  <a *ngIf="isConnected()" routerLink="/social" routerLinkActive="router-link-active" id="social-button">
                    <div> Social </div>
                  </a>
            </div>
            
            <mat-icon id="theme" (click)="doToggleLightDark()">{{lightDarkToggleIcon}}</mat-icon>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>