.mat-drawer-container {
    height: 100%;
}

.mat-drawer {
    width: 200px;
    background-color: #2e2e48;
}
mat-icon {
    color: white;
    transform: scale(1.7);
}

#box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    flex-direction: column;
    height: 95%;
}

.navs {
    justify-content: center;
    margin-top: 10%;
}

#theme {
    //margin-bottom: auto;
    margin-top: auto;
}

#theme:hover {
    cursor: pointer;
}

hr {
    flex-basis: 100%;
    flex-grow: 1;
    width: auto;
    height: 1px;
    background: white;
    //align-self: flex-start;
}

#break {
    width: 100%;
}