<mat-drawer-container>
    <mat-drawer opened="true" disableClose="true" mode="side">
        <div class="box">
            <mat-icon>account_circle</mat-icon>
            <div id="break">
                <hr>
            </div>
     
            <div class="nav">
                <button mat-raised-button color="accent" class="nav-button" routerLink="{{currentRouteName}}">
                    <div class="nav-button-div">
                        <div class="mat-icon-button">
                            <mat-icon inline="true" >home</mat-icon>
                        </div>
                        <div class="text">{{currentRoute}}</div>
                    </div> 
                </button>
            </div>

            <div id="theme" class="nav">
                <div id="break">
                    <hr>
                </div>
                
                <mat-icon (click)="doToggleLightDark()">{{lightDarkToggleIcon}}</mat-icon>
                <mat-icon *ngIf="currentRoute !== 'PolyScrabble'" routerLink="/home">keyboard_backspace</mat-icon>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>