<mat-card *ngIf="!fenetrer" id="chatBox">
  <div class="header">
    <div class="header-content">
      <h1> {{this.room$.value.name}}</h1>
      <button color="primary" mat-mini-fab *ngIf="showbutton" (click)="this.chatService.openChat(this.room$.value)"
        [ngStyle]="{transform: 'scale(0.8)'}" class="close-pop" type="button">
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </div>
  <div id="chatBoxBody" #chatBoxBody>
    <div id="chatBoxMessages" #chatBoxMessages>
      <div class="message-container" *ngFor="let msg of room$.value.messages">
        <div class="user-info">
          <img class="avatar" src="{{ getAvatarMessage(msg.fromId) }}" />
          <p>{{ msg.from }}</p>
        </div>
        <div class="message-content">
          <p class="timestamp">{{ msg.timestamp }}</p>
          <div class="message" [ngClass]="{
              sent: msg.from === user.id,
              received: msg.from !== user.id
            }">

            <p>{{getGifMessage(msg.message)[0]}}</p>
            <img *ngIf="containsGifURL(msg.message)" [src]="getGifMessage(msg.message)[1]">
          </div>
        </div>
      </div>
    </div>
  </div>

  <form #chatForm id="chatBoxForm" (ngSubmit)="send($event)">
    <mat-form-field appearance="outline">
      <mat-label for="message">{{
        "chat-box-component.enter-message" | translate
        }}</mat-label>
      <input #chatBoxInput type="text" id="chatBoxInput" autocomplete="off" matInput name="password"
        [(ngModel)]="message" />
    </mat-form-field>
    <button #submitBtn mat-mini-fab color="primary" [disabled]="false" id="submitBtn" type="submit"
      (click)="send($event)">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-mini-fab color="primary" id="submitBtn" (click)="openGifMenu()" type="button">
      <mat-icon>gif</mat-icon>
    </button>
  </form>
</mat-card>